#full {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(full.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1, h1 {
    color: 
}
#wrapper {
    background: white;
    padding: 2.25em;
    padding-top: 0em;
}
.logout {
    position: absolute;
    top:1.5em;
    right:1.5em;
}
#logout{
    background: transparent;
    color: white;
    border: 1px solid white;
}
.nl-form {
    font-size: 2.25em;
}
.nl-form .nl-submit {
    
    font-size: 16px;
}

.pull-right {
    margin-right: 0.5em;
}
.nl-form input, .nl-form select, .nl-form button {
    border: 1px solid lightgrey;
}
