/*font candidate: http://www.1001freefonts.com/simply_glamorous.font*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather+Sans:800);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
    font-family: 'Blokk';
    src: url('../fonts/blokk/BLOKKRegular.eot');
    src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/blokk/BLOKKRegular.woff') format('woff'), url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Simply Glamorous";
    src: url(SIMPLYGLAMOROUS.TTF);
}

body {
    position: relative;
    background: #5f545a;
    color: #faf1e0;
    font-size: 100%;
    line-height: 1.25;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
}

.container {
    background: #67c2d4;
}

a,
button {
    color: #553445;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    color: #e75854;
}

#brand {
    font-family: "Simply Glamorous";
    color: black;
    text-align: center;
    font-size: 8em;
    font-weight: bold;
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    text-shadow: 2px 2px 10px;
}

@keyframes colorchange {
    0% {
        color: #96CEB4
    }
    25% {
        color: #FFEEAD
    }
    50% {
        color: #FF6F69
    }
    75% {
        color: #FFCC5C
    }
    95% {
        color: #AAD8B0
    }
    100% {
        color: #96CEB4
    }
}

.home-msg {
    font-style: italic;
}

.form-field {
    color: black;
    font-weight: bold;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    width: 100%;
    background-color: transparent;
    height: 3em;
    border-bottom: 1px solid black;
}