<!DOCTYPE html>
<html>

<head>
    <title>MyDay Form</title>
    <link rel="stylesheet" type="text/css" href="../static/component.css">
    <link rel="stylesheet" type="text/css" href="../static/default.css">
    <script src="../static/js/modernizr.custom.js"></script>
</head>

<body class="nl-blurred">
    <div class="container demo-1">
        <header>
            <h1>Tell us what you want!</h1>
            <h2>{{message}}</h2>
            <h3> ** Important **</h3>
            <h3> Location field is required! </h3>
        </header>
        <div class="main clearfix">
            <form action="/results/" method="POST" id="nl-form" class="nl-form">
    Search:
    <input type="text" name="search" placeholder="any activity" data-subline="Example: <em>food, restaurants, Starbucks</em>">
    <br> When:
    <select name="startKey" id="limit">
        <option value="">Anytime</option>
        <option value="today">Today</option>
        <option value="tomorrow">Tomorrow</option>
        <option value="this_week">This Week</option>
        <option value="this_weekend">This Weekend</option>
        <option value="next_week">Next Week</option>
        <option value="this_month">This Month</option>
        <option value="next_month">Next Month</option>
    </select>
    <br> Sort By:
    <input type="text" name="sort_by" placeholder="sort by" data-subline="Example: <em>best</em>,<em>distance</em>, or <em>date</em>">
    <br> Money:
    <input type="text" name="price" placeholder="price level" data-subline="Example: Any number from <em>1</em> to <em>5</em>">
    <br> Distance:

		<input type="text" name="radius" placeholder="radius" data-subline="Example: <em>2</em> or <em>120</em> kilometers">

		<br> Starting location:

    <input value="brooklyn" type="text" name="location" placeholder="location" data-subline="Example: <em>345 Chambers Street</em>" required>

		<br> Category:
                <input type="text" name="category" placeholder="keyword" data-subline="Example: <em>fleamarkets, hats, pizza</em>">
                <br> Number of results:
                <select name="limit" id="limit">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <div class="nl-submit-wrap">
                    <button class="nl-submit" id="save" name="save" type="submit">Save!</button>
                </div>
                <div class="nl-submit-wrap">
                    <button class="nl-submit" id="search" name="places" type="submit">Search for places to go!</button>
                </div>
                <div class="nl-submit-wrap">
                    <button class="nl-submit" id="search" name="events" type="submit">Search for event!</button>
                </div>
                <div class="nl-overlay"></div>
            </form>
        </div>
    </div>

    <script src="../static/js/nlform.js"></script>
    <script>
        var nlform = new NLForm(document.getElementById('nl-form'));
    </script>
</body>

</html>
