<!DOCTYPE html>
<html>

<head>
  <title>MyDay Form</title>
</head>

<body>
  <h2><center> eventbrite test</center></h2>
  <form action="/results/events" method="POST" id="form" class="topBefore">

    <p> SEARCH:
      <input id="keyword" name="keyword" type="text" placeholder="KEYWORD">
    </p>

    <p> ADDRESS:
      <input id="address" name="address" type="text" placeholder="ADDRESS">
    <p>

    <p> LOCATION WITHIN:
      <select name="radius">
        <option value="">--</option>
        <option value="5mi">5</option>
        <option value="10mi">10</option>
        <option value="25mi">25</option>
        <option value="50mi">50</option>
        <option value="75mi">75</option>
      </select> miles

    <p>
      SORT BY:
      <input type="radio" name="sort_by" value="date"> date
      <input type="radio" name="sort_by" value="distance">distance
      <input type="radio" name="sort_by" value="best">best
      <input type="radio" name="sort_by" value="" checked>none
    </p>

    <p>
      PRICE:
      <input type="radio" name="price" value="free"> free
      <input type="radio" name="price" value="paid"> paid
      <input type="radio" name="price" value="" checked>none
    </p>

    <p> GENERAL START DATE:
      <input type="radio" name="startKey" value="today"> today
      <input type="radio" name="startKey" value="tomorrow"> tomorrow
      <input type="radio" name="startKey" value="this_week"> this week
      <input type="radio" name="startKey" value="this_weekend"> this weekend
      <input type="radio" name="startKey" value="this_month"> this month
      <input type="radio" name="startKey" value="next_week"> next week
      <input type="radio" name="startKey" value="next_month"> next month
      <input type="radio" name="startKey" value="" checked>none
    </p>



    <br><br><br>
    <input id="submit" type="submit" value="SAVE!">
  </form>
</body>
</html>
