<!DOCTYPE html>
<html>

<head>
  <title>MyDay Form</title>
</head>

<body>
  <h2><center> eventbrite test</center></h2>
  <form action="/results/events" method="POST" id="form" class="topBefore">

    <p> SEARCH:
      <input id="keyword" name="keyword" type="text" placeholder="KEYWORD">
    </p>

    <p> ADDRESS:
      <input id="address" name="address" type="text" placeholder="ADDRESS">
    <p>

    <p> LOCATION WITHIN:
      <select name="radius">
        <option value="">--</option>
        <option value="5mi">5</option>
        <option value="10mi">10</option>
        <option value="25mi">25</option>
        <option value="50mi">50</option>
        <option value="75mi">75</option>
      </select> miles

    <p>
      SORT BY:
      <input type="radio" name="sort_by" value="date"> date
      <input type="radio" name="sort_by" value="distance">distance
      <input type="radio" name="sort_by" value="best">best
      <input type="radio" name="sort_by" value="" checked>none
    </p>

    <p>
      PRICE:
      <input type="radio" name="price" value="free"> free
      <input type="radio" name="price" value="paid"> paid
      <input type="radio" name="price" value="" checked>none
    </p>

    <p> GENERAL START DATE:
      <input type="radio" name="startKey" value="today"> today
      <input type="radio" name="startKey" value="tomorrow"> tomorrow
      <input type="radio" name="startKey" value="this_week"> this week
      <input type="radio" name="startKey" value="this_weekend"> this weekend
      <input type="radio" name="startKey" value="this_month"> this month
      <input type="radio" name="startKey" value="next_week"> next week
      <input type="radio" name="startKey" value="next_month"> next month
      <input type="radio" name="startKey" value="" checked>none
    </p>

    <p> START DATE </p>
    <select name="month_start">
      <option value="">--</option>
      <option value="01">Jan</option>
      <option value="02">Feb</option>
      <option value="03">Mar</option>
      <option value="04">Apr</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">Aug</option>
      <option value="09">Sept</option>
      <option value="10">Oct</option>
      <option value="11">Nov</option>
      <option value="12">Dec</option>
    </select>
    <select name="day_start">
      <option value="">--</option>
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select>
    <select name="year_start">
      <option value="">----</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
    </select>

    <p> START TIME (24-HOUR)</p>
    <select name="hour_start">
      <option value="">--</option>
      <option value="00">0</option>
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
    </select> :
    <select name="minute_start">
      <option value="">--</option>
      <option value="00">00</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
    <select>

      <p> END DATE </p>
      <select name="month_end">
        <option value="">--</option>
        <option value="01">Jan</option>
        <option value="02">Feb</option>
        <option value="03">Mar</option>
        <option value="04">Apr</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">Aug</option>
        <option value="09">Sept</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>
      </select>
      <select name="day_end">
        <option value="">--</option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      <select name="year_end">
        <option value="">----</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
      </select>

      <p> END TIME (24-HOUR)</p>
      <select name="hour_end">
        <option value="">--</option>
        <option value="00">0</option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
      </select> :
      <select name="minute_end">
        <option value="">--</option>
        <option value="00">00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
      <select>

    <br><br><br>
    <input id="submit" type="submit" value="SAVE!">
  </form>
</body>
</html>
