<!DOCTYPE html>
<html>
<head>
  <title>MyDay</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    
  {{message}}
  <h3>Login</h3>
  <form action = "/authenticate/" method = "POST">
    Username<br>
    <input placeholder = "Username" type="text" name="user"><br>
    Password<br>
    <input placeholder = "Password" type="password" name="pass"><br>
    <input type="submit" name = "login" value = "Login">
    <input type="submit" name = "register" value = "Register">
  </form>

  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
