<!DOCTYPE html>
<html>
<head>
  <title>MyDay</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <div class="container" id="home-wrap">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="brand">MyDay</h1>
	  <br>
	  
          <p class="home-msg">{{message}}</p>
          <form action="/authenticate/" method="POST">
            <input class="form-field" placeholder="Username" type="text" name="user"><br>
            <input class="form-field" placeholder="Password" type="password" name="pass"><br>
            <br>
            <input type="submit" name="login" value="Login" class="btn btn-default btn-lg btn-block btn-trans">
            <input type="submit" name="register" value="Register" class="btn btn-danger btn-lg btn-block btn-opaq">
          </form>
        </div>
      </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
