<!DOCTYPE html>
<html>
<head>
  <title>MyDay</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  {{message}}
  <h3>Login</h3>
  <form action = "/authenticate/" method = "POST">
    Username<br>
    <input placeholder = "Username" type="text" name="user"><br>
    Password<br>
    <input placeholder = "Password" type="password" name="pass"><br>
    <input type="submit" name = "login" value = "Login">
    <br>
  </form>
  <form action = "/authenticate/" method = "POST">
    Don't have an account yet? Sign up today!
    <br>
    <br>
    <div class="6u (xsmall)">
      New User<br>
      <input id = "name" placeholder = "Username" type="text" name="user"><br>
      Password<br>
      <input id = "name" placeholder = "Password" type="password" name="pass"><br>
      <i> Password must be at least 3 characters long</i><br>
      <input type="submit" name = "register" value = "Register">
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
